<h1>All Artists</h1>

<table>
	<thead>
		<tr>
			<th class="t-head">Artist Name</th>
		</tr>
	</thead>
	<tbody>
	<ul>
		<% @artists.each do |artist| %>
		<tr>
			<td><li><%= link_to "#{artist.name}", artist_path(artist.id) %></li></td>
		</tr>
		<% end %>
		</ul>
	</tbody>
</table>
<br>

<%= link_to "New Artist", new_artist_path %>