<h1><%= @song.title %></h1>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
<br>
<%= link_to "Edit", edit_song_path(@song) %>
<br>
<%= link_to "Delete", song_path(@song), method: :delete, data: { confirm: 'Are you sure that you want to delete ' + @song.title + '?' } %>