<h1>All Playlists</h1>


<table>
	<thead>
		<tr>
			<th class="t-head">Playlist Name</th>
		</tr>
	</thead>
	<tbody>
	<ul>
		<% @playlists.each do |playlist| %>
		<tr>
			<td><li><%= link_to "#{playlist.name}", playlist_path(playlist.id) %></li></td>
		</tr>
		<% end %>
		</ul>
	</tbody>
</table>
<br>

<%= link_to "New Playlist", new_playlist_path %>